<!DOCTYPE html>
<html>
<body>

<h2>📤 Upload Patient Report (Hospital A)</h2>

<form method="post" action="/upload" enctype="multipart/form-data">

Patient ID:<br>
<input type="text" name="patient_id" required><br><br>

Select File:<br>
<input type="file" name="file" required><br><br>

Grant Access To Hospital:<br>
<select name="hospital" required>
    {% for hospital in hospitals %}
        <option value="{{ hospital }}">{{ hospital }}</option>
    {% endfor %}
</select>
<br><br>

<button type="submit">Upload & Grant Access</button>

</form>

<br>
<a href="/">⬅ Back</a>

</body>
</html>
